/* Joldon's footer styling */
#tms {
  height: 500px;
  background-image: url(./src/img/teams/bgk-middle.png);
  background-size: cover;
  border: 1px;
  color: white;
  align-content: center;
  align-items: center;
  text-align: center;
}

#tms h1 {
  margin-bottom: 3px;
}

#tms h5 {
  margin-top: 3px;
}


.white-containers {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.white-container1 {
    width: 15%;
    height: 150px;
    border: 1px solid white;
    background-color: white;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

.white-container2 {
    width: 15%;
    height: 150px;
    border: 1px solid white;
    background-color: white;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

.white-container3 {
    width: 15%;
    height: 150px;
    border: 1px solid white;
    background-color: white;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

.white-container4 {
    width: 15%;
    height: 150px;
    border: 1px solid white;
    background-color: white;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}


.teams-main-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 25px;
}

.container1 {
  width: 15%;
  height: 50px;
  border: 1px solid white;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  
  
  
}
.container1 h5, h6 {
  margin: 5px;
}
.container2 {
  width: 15%;
  height: 50px;
  border: 1px solid white;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.container2 h5, h6 {
    margin: 5px;
  }


.container3 {
  width: 15%;
  height: 50px;
  border: 1px solid white;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container3 h5, h6 {
    margin: 5px;
  }

.container4 {
  width: 15%;
  height: 50px;
  margin-right: 12px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container4 h5, h6 {
    margin: 5px;
  }


footer {
  height: 300px;
  background-image: url(./src/img/footer/bgk-footer.png);
  background-size: cover;
  border: 1px;
  border-color: aqua;
  color: white;
  display: flex;
  justify-content: center;
}

/* Keeping the below section for a possible later test
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    */

#tajam-footer-logo {
    color: #65d4ca;
    font-size: 30px;
    display: inline-block;
    position: relative;
    bottom: 15px;
    left: 10px;
}

.tajam-footer {
  width: 22%;
  padding-top: 20px;
}

.tajam-footer h6 {
  margin: 9px;
  margin-top: 0px;
}

.footer-logo: {
  margin-bottom: 15px;
} 

.our-studio-footer {
  width: 22%;
  margin-top: 35px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.our-studio-footer h6 {
  width: 200px;
  margin-top: 3px;
}

.our-studio-footer h4 {
  margin-bottom: 15px;
}

.stay-in-touch-footer {
  width: 26%;
  margin-top: 35px;
  margin-bottom: 20px;
}

.stay-in-touch-footer form {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
  }

  .stay-in-touch-footer h4 {
    margin-bottom: 15px;
  }


/* trying to shift copyright text to the right. Must look at it later
.stay-in-touch-footer h6 {
  float: right;
} */

.bottom-information, h6 {
  display: inline-block;
  align-items: bottom;
  
}

#newsletter-form {
  height: 30px;
  padding: 24px, 0px, 9px, 0px;
  background-color: transparent;
}

#btn-newsletter {
  background: url(src/img/footer/paper122.png) no-repeat center;
  width: 70px;
  height: 32px;
  background-color: white;
  opacity: 0.5;
  background-size: 25px, 25px;
  display: flex;
  align-content: center;
  margin-left: 10px;
}

.social-media {
  display: flex;
  justify-items: center;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}


/* For some reason, creating this selector makes images placed in column
.social-media {
    padding: 29px;
    display: inline-block;
    width: 30px;
} */

.phone-number {
  display: flex;
  flex-direction: row;
}

.address {
    display: flex;
    flex-direction: row;
  }

/*  Daniel Contact part */
/* For development only */



/* For development only */


.contact {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

input {
  resize: horizontal;
  width: 250px;

}

input:active {
  width: 250px   
}

input:focus {
  min-width: 250px;
}

.grid-container-contact {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 50px 50px 50px 50px 250px 100px;
    gap: 0px 0px;
    grid-template-areas:
      "title"
      "name"
      "email"
      "subject"
      "message"
      "submit";
  }
  
  .title { grid-area: title; }
  
  .name { grid-area: name; }
  
  .email { grid-area: email; }
  
  .subject { grid-area: subject; }
  
  .message { grid-area: message; }
  
  .submit { grid-area: submit; } 


.grid-container-client {
    display: grid;
   
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 100px 100px 100px 100px 100px;
    gap: 0px 50px;
    grid-template-areas:
      "Clients Clients"
      "Zara Mango"
      "Barneys Gucci"
      "Calvin Nike"
      "Converse Puma"
      "Levis Billabong";
  }
  
  .Clients { grid-area: Clients;}
  
  .Zara { grid-area: Zara; }
  
  .Mango { grid-area: Mango; }
  
  .Barneys { grid-area: Barneys; }
  
  .Gucci { grid-area: Gucci; }
  
  .Calvin { grid-area: Calvin; }
  
  .Nike { grid-area: Nike; }
  
  .Converse { grid-area: Converse; }
  
  .Puma { grid-area: Puma; }
  
  .Levis { grid-area: Levis; }
  
  .Billabong { grid-area: Billabong; }

  

  .grid-container-client div img {
    width: 100px;
  }

  .submitbutton {
    color: #65d4ca;
    border: 1px solid #65d4ca;
    width: 100px;
    height: 50px;
  }


  /* End of Daniels Contact part */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header {
    background-image: url(./src/img/header/bgk-header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}

nav {
  display: block;
}

.headerlogo {
  float: left;
}

.headerlogo img {
  margin-left: 160px;
  margin-top: 40px;
  display: inline-block;
}

.headerlogo-name {
  display: inline-block;
  font-size: 170%;
  color: #65d4ca;
  position: relative;
  left: 10px;
  bottom: 20px;
}

nav::after{
  content: "";
  display: table;
  clear: both;
}

nav ul {
    float: right;
    margin: 30px;
}

nav ul li {
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    text-transform:uppercase;
    list-style-type: none;
}

nav ul li a {
    color: white;
    transition: all 0.4s linear;
    text-decoration: none;
}

nav ul li a:hover {
    color: #65d4ca;
}

.companylogo {
    color: seagreen;
    padding-left: 10px;
    font-size: 110%;
}

.introduction {
    width: 65%;
    margin: 60px auto;
    text-align: center;
    color: white;
}

.introduction h3 {
    font-size: 140%;
    margin: 30px auto;
}

.introduction p {
    margin-bottom: 20px;
    font-size: 110%;
}

.hd-line {
  width: 100px;
  margin: 0 auto;
  border: 1px solid #65d4ca;
}

.button {
    font-size: 100%;
    color: #65d4ca;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #65d4ca;
    padding: 15px 40px;
    margin-top: 20px;
    text-transform:uppercase;
}

.button a {
    text-decoration: none;
    color: #65d4ca;
}

.abo-container {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: auto;
}

.abo-section {
  height: 300px;
}

.abo-section:first-child {
  box-sizing: border-box;
  padding: 40px;
  text-align: right;
  width: 40%;
}

.abo-section:last-child {
  width: 50%;
}

.abo-section-header {
  height: 20%;
  box-sizing: border-box;
  padding-top: 20px;
}

.abo-section-header h3 {
  font-family:'Times New Roman', Times, serif;
}

.abo-section-content1 p {
  font-size: 80%;
  padding-bottom: 20px;
}

#storyvideo {
    text-align: center;
}

.sv {
  background-image: url(src/img/header/bgk-middle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sv img {
  padding: 20px;
}

.sv h4 {
  text-transform: uppercase;
  color: white;
}

/* Expertise Grid */
#exp h3 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  padding-top: 15px;
  padding-bottom: 5px;
}

.exp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.exp-contents {
  display: flex;
  flex-direction: row;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60%;
  color: grey;
  width: 200px;
  text-align: center;
  padding: 5px;
}

.exp-line {
  width: 60px;
  margin: 5px auto;
  margin-bottom: 50px;
  background-color: grey;
}

.exp-wrap {
  
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 150px);
  margin-bottom: 50px;
  
    
  
}
.exp-wrap div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.exp-wrap div img {
  height: 50px;
}

.exp-item1 {
  grid-area: 1 / 1 / 2 / 2; 
 
  
  text-align: center;
}

.exp-item2 {
  grid-area: 1 / 2 / 2 / 3;
  border-left: 1px solid grey;
  
  border-right:grey 1px solid;
  text-align: center;
}

.exp-item3 {
  grid-area: 1 / 3 / 2 / 4;
  
  
  text-align: center;
}

.exp-item4 {
  grid-area: 2 / 1 / 3 / 2;
  border-top: 1px solid grey;
  
  text-align: center;
}

.exp-item5 {
  grid-area: 2 / 2 / 3 / 3;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  text-align: center;
}

.exp-item6 {
  grid-area: 2 / 3 / 3 / 4;
  
  border-top: 1px solid grey;
 
  text-align: center;
}

.exp-wrap h6 {
  font-size: 8px;
  text-transform: uppercase;
}

.exp-wrap p {
  text-transform: capitalize;
  font-size: 10px;
  color: grey;
}

/* Media Queries */

/* Desktop Computer */

@media only screen  and (min-width: 1024px) {

  body {
    background-color: white;
  }
  .submitbutton {
    color: #65d4ca;
    border: 1px solid #65d4ca;
    width: 100px;
    height: 50px;
  }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  body {
    background-color: red;
  }

  nav {
    display: block;
  }
  .headerlogo {
    float: none;
    text-align: center;
    padding-right: 150px;
  }  
  .headerlogo-name {
    font-size: 170%;
    color: #65d4ca;
  }
  nav ul {
    float: none;
    text-align: center;
  }
  

/*  nav::after {
    content: "";
    display: table;
    clear: both;
  } */
}

/* Smartphone */

@media only screen and (max-width: 767px) {

  body {
    background-color: yellow;
  }
  nav {
    display: block;
  }
  .headerlogo {
    float: none;
    text-align: center;
    padding-right: 150px;
  }  
  .headerlogo-name {
    font-size: 170%;
    color: #65d4ca;
  }
  nav ul {
    float: none;
    text-align: center;
  }

.contact {
  flex-direction: column;
  
}

  .grid-container-contact {   
   justify-content: center;
   justify-items: center;
   align-items: center;    
    /* center items */    
  }

  .grid-container-client {
    justify-content: center;
   justify-items: center;
   align-items: center;  

  }


  

}

