/* Joldon's footer styling */
#tms {
  height: 500px;
  background-image: url(./src/img/teams/bgk-middle.png);
  background-size: cover;
  border: 1px;
  color: white;
  align-content: center;
  align-items: center;
  text-align: center;
}

#tms h1 {
  margin-bottom: 3px;
}

#tms h5 {
  margin-top: 3px;
}


.white-containers {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.white-container1 {
    width: 15%;
    height: 150px;
    border: 1px solid white;
    background-color: white;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

.white-container2 {
    width: 15%;
    height: 150px;
    border: 1px solid white;
    background-color: white;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

.white-container3 {
    width: 15%;
    height: 150px;
    border: 1px solid white;
    background-color: white;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

.white-container4 {
    width: 15%;
    height: 150px;
    border: 1px solid white;
    background-color: white;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}


.teams-main-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 25px;
}

.container1 {
  width: 15%;
  height: 50px;
  border: 1px solid white;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-content:
  
  
}
.container1 h5, h6 {
  margin: 5px;
}
.container2 {
  width: 15%;
  height: 50px;
  border: 1px solid white;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.container2 h5, h6 {
    margin: 5px;
  }


.container3 {
  width: 15%;
  height: 50px;
  border: 1px solid white;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container3 h5, h6 {
    margin: 5px;
  }

.container4 {
  width: 15%;
  height: 50px;
  margin-right: 12px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container4 h5, h6 {
    margin: 5px;
  }


footer {
  height: 250px;
  
  background-image: url(./src/img/footer/bgk-footer.png);
  background-size: cover;
  border: 1px;
  border-color: aqua;
  color: white;
  display: flex;
  justify-content: center;
}

/* Keeping the below section for a possible later test
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    */

.tajam-footer {
  width: 22%;
}

.tajam-footer h6 {
  margin: 9px;
  margin-top: 0px;
}

.our-studio-footer {
  width: 22%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.our-studio-footer h6 {
  width: 200px;
  margin-top: 3px;
}

.stay-in-touch-footer {
  width: 22%;
  margin-bottom: 20px;
  
}

.stay-in-touch-footer form {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}


/* trying to shift copyright text to the right. Must look at it later
.stay-in-touch-footer h6 {
  float: right;
} */

.bottom-information, h6 {
  display: inline-block;
  align-items: bottom;
  
}

.social-media {
  display: flex;
  justify-items: center;
  flex-wrap: nowrap;
}
/* For some reason, creating this selector makes images placed in column
.social-media {
    padding: 29px;
    display: inline-block;
    width: 30px;
} */

.phone-number {
  display: flex;
  flex-direction: row;
}

.address {
    display: flex;
    flex-direction: row;
  }










/*  Daniel Contact part */



/* For development only */


.contact {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  
  
  
}

input {
  resize: horizontal;
  width: 250px;
}

input:active {
  width: 250px   
}

input:focus {
  min-width: 250px;
}



.grid-container-contact {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 50px 50px 50px 50px 250px 100px;
    gap: 0px 0px;
    grid-template-areas:
      "title"
      "name"
      "email"
      "subject"
      "message"
      "submit";
  }
  
  .title { grid-area: title; }
  
  .name { grid-area: name; }
  
  .email { grid-area: email; }
  
  .subject { grid-area: subject; }
  
  .message { grid-area: message; }
  
  .submit { grid-area: submit; } 


.grid-container-client {
    display: grid;
   
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 100px 100px 100px 100px 100px;
    gap: 0px 50px;
    grid-template-areas:
      "Clients Clients"
      "Zara Mango"
      "Barneys Gucci"
      "Calvin Nike"
      "Converse Puma"
      "Levis Billabong";
  }
  
  .Clients { grid-area: Clients;}
  
  .Zara { grid-area: Zara; }
  
  .Mango { grid-area: Mango; }
  
  .Barneys { grid-area: Barneys; }
  
  .Gucci { grid-area: Gucci; }
  
  .Calvin { grid-area: Calvin; }
  
  .Nike { grid-area: Nike; }
  
  .Converse { grid-area: Converse; }
  
  .Puma { grid-area: Puma; }
  
  .Levis { grid-area: Levis; }
  
  .Billabong { grid-area: Billabong; }

  

  .grid-container-client div img {
    width: 100px;
  }

  .submitbutton {
    color: #65d4ca;
    border: 1px solid #65d4ca;
    width: 100px;
    height: 50px;
  }


  /* End of Daniels Contact part */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header {
    background-image: url(./src/img/header/bgk-header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}

nav img {
    float: left;
    height: 50px;
    padding: 5px;
}

#headerlogo {
    color: #65d4ca;
    font-size: 30px;
    padding: 30px 10px;
    display: inline-block;
}

nav {
    display: block;
}

nav ul {
    float: right;
    margin: 30px;
}
nav ul li {
    font-size: 16px;
    display: inline-block;
    padding: 20px;
    text-transform:uppercase;
    list-style-type: none;
}

nav ul li a {
    color: white;
    transition: all 0.4s linear;
    text-decoration: none;
}

nav ul li a:hover {
    color: #65d4ca;
}

.logo {
    margin-left: 160px;
    margin-top: 25px;
}

.companylogo {
    color: seagreen;
    padding-left: 10px;
    font-size: 110%;
}

.introduction {
    width: 65%;
    margin: 60px auto;
    text-align: center;
    color: white;
}

.introduction h3 {
    font-size: 140%;
    margin: 50px auto;
}

.introduction p {
    margin-bottom: 20px;
    font-size: 110%;
}

.introbutton {
    font-size: 100%;
    color: #65d4ca;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #65d4ca;
    padding: 15px 40px;
    margin-top: 20px;
    text-transform:uppercase;
}

#abo {
    height: 300px;
    border: 1px solid red;
}
#abo div {
    width: 200px;
    height: 30px;
    margin: 100px auto;
    text-align: center;    
    font-size: 25px;
}

#storyvideo {
    text-align: center;
}

/* Media Queries */

/* Desktop Computer */

@media only screen  and (min-width: 1024px) {

  body {
    background-color: white;
  }

.submitbutton {
  color: #65d4ca;
  border: 1px solid #65d4ca;
  width: 100px;
  height: 50px;
}

}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  body {
    background-color: red;
  }

  

}

/* Smartphone */

@media only screen and (max-width: 767px) {

  body {
    background-color: yellow;
  }

.contact {
  flex-direction: column;
  
}

  .grid-container-contact {   
   justify-content: center;
   justify-items: center;
   align-items: center;    
    /* center items */    
  }

  .grid-container-client {
    justify-content: center;
   justify-items: center;
   align-items: center;  

  }


  

}

